---
const YEAR = new Date().getFullYear();
---

<div class="text-sm text-right text-gray-500 border-t border-gray-800 py-4">
	© {YEAR} Software Developer. All rights reserved.
	<br>
	Built with Astro, Tailwind CSS & DaisyUI.
</div>