---
import YoImage from "../assets/yo.jpg";
import Orb from "./Orb.astro";

const HERO_TECHNOLOGIES = [
	'Frontend',
	'Backend',
	'Cloud',
	'DevOps',
	'Mobile',
	'Security',
	'Performance',
	'Accessibility',
	'Scalability',
	'Responsive Design',
	'Progressive Web Apps',
	'Serverless',
];
---

<div
	id="home"
	class="hero bg-radial-[at_25%_25%] from-base-100 to-gray-800 min-h-screen mt-16 pt-4!"
>
	<div class="hero-content flex-col lg:flex-row gap-8">
		<div class="flex-2 w-full">
			<div class="justify-center text-center">
				<div class="avatar justify-center">
					<div id="hero-image" class="w-1/3 lg:w-2/3 rounded-full border-3 border-primary">
						<img src={YoImage.src} />
					</div>
				</div>
				<h1 class="text-4xl mt-1">Leonardo Vertiz</h1>
			</div>
		</div>
		<div class="flex-3 text-center lg:text-left">
			<h2 class="text-7xl font-bold">Software</h2>
			<h2 class="text-7xl font-bold text-gradient">Developer</h2>
			<p class="py-6 text-2xl text-base-content/80">
				Crafting modern applications and cloud solutions with cutting-edge
				technologies. From concept to deployment, I bring your ideas to life.
			</p>
			<div class="flex flex-wrap gap-3 justify-center lg:justify-start">
				{
					HERO_TECHNOLOGIES.map((tech) => (
						<span class="badge badge-soft badge-xl cursor-default">
							{tech}
						</span>
					))
				}
			</div>
			<div class="flex gap-4 mt-6 justify-center lg:justify-start">
				<a href="#about" class="btn px-8 bg-linear-to-br from-primary to-secondary gap-4">
					About Me
					<span class="material-symbols-outlined" style="font-size: medium;">arrow_forward</span>
				</a>
				<a href="#contact" class="btn hover:bg-primary"> Get in Touch </a>
			</div>
		</div>
		<div class="hidden md:block -z-10">
			<Orb size="200px" color="primary" left="20%" top="20%"/>
			<Orb size="200px" color="secondary" left="70%" top="60%"/>
		</div>
	</div>
</div>

<style>
	#hero-image {
		animation: quiet-movement 3s infinite ease-in-out;
	}
	@keyframes quiet-movement {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-10px);
		}
		100% {
			transform: translateY(0);
		}
	}
</style>