<div class="navbar bg-base-100/80 backdrop-blur-md border-b border-base-300/50 fixed top-0 z-50">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">LeoVertiz</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-lg">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about-me">About Me</a></li>
      <li><a class="btn bg-linear-to-br from-primary to-secondary text-lg" href="#contact">Contact</a></li>
    </ul>
  </div>
</div>